<div class="content-white">
    <article nz-typography>
        <h1 nz-typography>文学体裁</h1>
        <p nz-typography>
            人物、情节、环境是小说的三要素。情节一般包括开端、发展、高潮、结局四部分，有的包括序幕、尾声。环境包括自然环境和社会环境。
            小说按照篇幅及容量可分为长篇、中篇、短篇和微型小说（小小说）。按照表现的内容可分为神话、仙侠、武侠、科幻、悬疑、古传、当代、浪漫青春、游戏竞技等。按照体制可分为章回体小说、日记体小说、书信体小说、自传体小说。按照语言形式可分为文言小说和白话小说。
        </p>
        <p nz-typography>
            在历经魏晋南北朝及隋唐长期的发展，无论是题材或人物的描写，文言小说都有明显的进步，形成笔记与传奇两种小说类型。而白话小说则起源于唐宋时期说话人的话本，故事的取材来自民间，主要表现了百姓的生活及思想意识。但不管文言小说或白话小说都源远流长，呈现各自不同的艺术特色。
            <span
                nz-typography><strong>与其他文学样式相比，小说的容量较大，它可以细致地展现人物性格和人物命运，可以表现错综复杂的矛盾冲突，同时还可以描述人物所处的社会生活环境。优势是可以提供整体的、广阔的社会生活。</strong></span>.
        </p>
        <h2 nz-typography>发展溯源</h2>
        <p nz-typography>
            自然环境包括人物活动的地点(<span nz-typography><code>地点</code></span>
            、 <span nz-typography><code>时间</code></span>), 自然环境描写对表达人物的心情、渲染环境气氛都有不少的作用。
        </p>
        <article nz-typography>
            <ul>
                <li>
                    <a href="javascript:void(0)">价值</a>
                </li>
                <li>
                    <a href="javascript:void(0)">情节</a>
                </li>
                <li>
                    <a href="javascript:void(0)">环境</a>
                </li>
            </ul>
        </article>
        <nz-divider></nz-divider>
        <h1 nz-typography>介绍</h1>
        <p nz-typography>
            它是以各种不寻常的冒险事件为描写的中心线索，主人公往往有不平凡的经历、遭遇和挫折，情节紧张、冲突尖锐、场面惊险、内容离奇。西方比较盛行，国内《游险记》与《寻龙诀》的出现，也带来了一点热度。
        </p>
        <p nz-typography>
            随着商业化的趋势，越来越多的企业级产品对更好的用户体验有了进一步的要求。带着这样的一个终极目标，我们（蚂蚁金服体验技术部）
            经过大量的项目实践和总结，逐步打磨出一个服务于企业级产品的设计体系 通用后台管理。 基于<span
                nz-typography><mark>『确定』和『自然』</mark></span>的设计价值观，通过模块化的解决方案，降低冗余的生产成本， 让设计者专注于<span
                nz-typography><strong>更好的用户体验</strong></span>。
        </p>
        <h2 nz-typography>
            设计资源
        </h2>
        <p nz-typography>
            我们提供完善的设计原则、最佳实践和设计资源文件 （<span nz-typography><code>Sketch</code></span> 和
            <span nz-typography><code>Axure</code></span>），来帮助业务快速设计出高质 量的产品原型。
        </p>
        <article nz-typography>
            <ul>
                <li>
                    <a href="javascript:void(0)">设计原则</a>
                </li>
                <li>
                    <a href="javascript:void(0)">设计模式</a>
                </li>
                <li>
                    <a href="javascript:void(0)">设计资源</a>
                </li>
            </ul>
        </article>
    </article>

    <h1 nz-typography>h1. 通用后台管理</h1>
    <h2 nz-typography>h2. 通用后台管理</h2>
    <h3 nz-typography>h3. 通用后台管理</h3>
    <h4 nz-typography>h4. 通用后台管理</h4>
    <br />
    <p nz-typography nzEditable [(nzContent)]="editStr"></p>
    <p nz-typography nzCopyable nzEditable [(nzContent)]="copyStr"></p>
    <p nz-typography nzCopyable nzCopyText="Hello, 通用后台管理!">替换复制文本.</p>
    <br />
    <span nz-typography>通用后台管理</span>
    <br />
    <span nz-typography nzType="secondary">通用后台管理</span>
    <br />
    <span nz-typography nzType="warning">通用后台管理</span>
    <br />
    <span nz-typography nzType="danger">通用后台管理</span>
    <br />
    <span nz-typography nzDisabled>通用后台管理</span>
    <br />
    <span nz-typography><mark>通用后台管理</mark></span>
    <br />
    <span nz-typography><code>通用后台管理</code></span>
    <br />
    <span nz-typography><u>通用后台管理</u></span>
    <br />
    <span nz-typography><del>通用后台管理</del></span>
    <br />
    <span nz-typography><strong>通用后台管理</strong></span>
    <br />
    <br />
    <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="1">
        东汉班固在《汉书·艺文志》中写到：“小说家者流，盖出于稗官。街谈巷语，道听涂说者之所造也。孔子曰：‘虽小道，必有可观者焉，致远恐泥，是以君子弗为也。’然亦弗灭也。闾里小知者之所及，亦使缀而不忘。如或一言可采，此亦刍荛狂夫之议也。”这是史家和目录学家对小说所作的具有代表性的解释和评价。班固认为小说是“街谈巷语、道听涂(同“途”)说者之所造也”，虽然认为小说仍然是小知、小道，但从另一角度触及小说讲求虚构，植根于生活的特点。
    </p>
</div>